workflows:
  version: 2
  workflow:
    jobs:
      - build_test
      - deploy:
          requires:
            - build_test
          filters:
            branches:
              only: release

jobs:
  build_test:
    working_directory: ~/code
    docker:
      - image: cimg/android:2022.09
    environment:
      JVM_OPTS: -Xmx3200m
      CIRCLE_JDK_VERSION: openjdk21
    steps:
      - checkout
      - run:
          name: Install JDK 21
          command: |
            sudo apt-get update
            sudo apt-get install -y openjdk-21-jdk
            sudo update-alternatives --install /usr/bin/java java /usr/lib/jvm/java-21-openjdk-amd64/bin/java 1
            sudo update-alternatives --set java /usr/lib/jvm/java-21-openjdk-amd64/bin/java
            export JAVA_HOME="/usr/lib/jvm/java-21-openjdk-amd64"
            java -version
      - run:
          name: Set JAVA_HOME
          command: echo 'export JAVA_HOME=/usr/lib/jvm/java-21-openjdk-amd64' >> $BASH_ENV
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run Unit tests
          command: ./gradlew lint test
      - store_artifacts:
          path: app/build/reports/lint-results-debug.html
          destination: app_lint_report
      - store_test_results:
          path: app/build/reports/tests/testDebugUnitTest/index.html
          destination: app_test_report
      - store_artifacts:
          path: core/build/reports/lint-results-debug.html
          destination: core_lint_report
      - store_test_results:
          path: core/build/reports/tests/testDebugUnitTest/index.html
          destination: core_test_report
      - store_artifacts:
          path: shared/build/reports/lint-results-debug.html
          destination: shared_lint_report
      - store_test_results:
          path: shared/build/reports/tests/testDebugUnitTest/index.html
          destination: shared_test_report
      - store_artifacts:
          path: widget/build/reports/lint-results-debug.html
          destination: widget_lint_report
      - store_test_results:
          path: widget/build/reports/tests/testDebugUnitTest/index.html
          destination: widget_test_report

  deploy:
    docker:
      - image: cimg/android:2022.09
    steps:
      - checkout
      - run:
          name: Install JDK 21
          command: |
            sudo apt-get update
            sudo apt-get install -y openjdk-21-jdk
            sudo update-alternatives --install /usr/bin/java java /usr/lib/jvm/java-21-openjdk-amd64/bin/java 1
            sudo update-alternatives --set java /usr/lib/jvm/java-21-openjdk-amd64/bin/java
            export JAVA_HOME="/usr/lib/jvm/java-21-openjdk-amd64"
            java -version
      - run:
          name: Set JAVA_HOME
          command: echo 'export JAVA_HOME=/usr/lib/jvm/java-21-openjdk-amd64' >> $BASH_ENV
      - run: echo $ENCODED_KEYSTORE | base64 --decode >> ${HOME}/keystore.jks
      - run: echo 'export KEYSTORE=${HOME}/keystore.jks' >> $BASH_ENV
      - run:
          name: Build Release
          command: ./gradlew clean assembleRelease --no-daemon --stacktrace
      - store_artifacts:
          path: app/build/outputs/apk/release
          destination: distribution
      - store_artifacts:
          path: app/build/outputs/mapping
          destination: distribution
