version: 2.1

# Import the Android orb
orbs:
  android: circleci/android@2.2.0

workflows:
  version: 2
  workflow:
    jobs:
      - build_test
      - deploy:
          requires:
            - build_test
          filters:
            branches:
              only: release

jobs:
  build_test:
    docker:
      - image: cimg/android:2022.09
    working_directory: ~/code
    steps:
      - checkout

      # Use the Android orb to set up the SDK
      - android/setup:
          sdk-version: "34"
          build-tools-version: "34.0.0"
          target: "android-30"
          # You can add more options for system images or platform tools if needed

      # Run unit tests (lint and unit tests)
      - run:
          name: Run Unit tests
          command: ./gradlew lint test

      # Start the emulator
      - android/start-emulator:
          api-level: 30
          force-avd-creation: true
          emulator-options: "-no-window -gpu swiftshader_indirect -accel off"

      # Run Instrumented Tests on the Emulator
      - run:
          name: Run Instrumented Tests
          command: ./gradlew connectedAndroidTest

      # Store test results and lint reports
      - store_test_results:
          path: app/build/test-results/testDebugUnitTest
      - store_artifacts:
          path: app/build/reports/lint-results-debug.html
          destination: app_lint_report
      - store_test_results:
          path: core/build/test-results/testDebugUnitTest
      - store_artifacts:
          path: core/build/reports/lint-results-debug.html
          destination: core_lint_report
      - store_test_results:
          path: shared/build/test-results/testDebugUnitTest
      - store_artifacts:
          path: shared/build/reports/lint-results-debug.html
          destination: shared_lint_report
      - store_test_results:
          path: shared/build/outputs/androidTest-results/connected/debug
      - store_artifacts:
          path: widget/build/reports/lint-results-debug.html
          destination: widget_lint_report
      - store_test_results:
          path: widget/build/test-results/testDebugUnitTest

  deploy:
    docker:
      - image: cimg/android:2022.09
    steps:
      - checkout
      - run:
          name: Install JDK 21
          command: |
            sudo apt-get update
            sudo apt-get install -y openjdk-21-jdk
            sudo update-alternatives --install /usr/bin/java java /usr/lib/jvm/java-21-openjdk-amd64/bin/java 1
            sudo update-alternatives --set java /usr/lib/jvm/java-21-openjdk-amd64/bin/java
            export JAVA_HOME="/usr/lib/jvm/java-21-openjdk-amd64"
            java -version
      - run:
          name: Set JAVA_HOME
          command: echo 'export JAVA_HOME=/usr/lib/jvm/java-21-openjdk-amd64' >> $BASH_ENV
      - run: echo $ENCODED_KEYSTORE | base64 --decode >> ${HOME}/keystore.jks
      - run: echo 'export KEYSTORE=${HOME}/keystore.jks' >> $BASH_ENV
      - run:
          name: Build Release APK
          command: ./gradlew clean assembleRelease --no-daemon --stacktrace
      - store_artifacts:
          path: app/build/outputs/apk/release
          destination: distribution
      - store_artifacts:
          path: app/build/outputs/mapping
          destination: distribution
